<link rel="stylesheet" href="/css/navbar-style.css">
<script src="/js/navbar-main.js"></script>

<div class="container menu_container">
    <div class="row justify-content-center">
        <div class=" col-4">
            <div class="logo">
                <a href=<%="/home/"+id%>>
                    <img src="/images/logo2_1.png" class="img-responsive" alt="K.E.S. Shroff College"
                        title="K.E.S. Shroff College" width="100">
                </a>
            </div>
        </div>
        <div class="col-4">            
            <div class="logo d-none d-sm-none d-md-block d-lg-block "  style="position:relative; top: 10%">
                <a href=<%="/home/"+id%> >
                    <img src="/images/antarang.png" class="img-responsive" alt="K.E.S. Shroff College"
                        title="K.E.S. Shroff College" width="250">
                </a>
            </div>
        </div>
        <div class="offset-1 col-2">
            <div class="navbar_container">
                <div class="row">
                    <div class="col-12 col-sm-5 col-md-4 col-lg-3 text-center" id="navbar">
                        <ul class="navbar-nav h5">
                            <li class="nav-item">
                                <a class="nav-link" href=<%="/view/"+id%>>View Details </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href=<%="/add/"+id%>>Add Participants </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href=<%="/update/"+id%>>Update Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href=<%="/remove/"+id%>>Remove Participants</a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu_icon_container" id="menu_icon">
                        <div class="hamburger"></div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>